<header class="site-header">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-3 col-md-5 col-7">
                <p class="text-white mb-0">
                    <i class="bi-clock site-header-icon me-2"></i>
                    Mon-Fri 10:00-19:00
                </p>
            </div>

            <div class="col-lg-2 col-md-3 col-5">
                <p class="text-white mb-0">
                    <a href="tel: 240-480-9600" class="text-white">
                        <i class="bi-telephone site-header-icon me-2"></i>
                        +91 9491110000
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-3 col-12 ms-auto">
                <ul class="social-icon">
                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                    <li><a href="#" class="social-icon-link bi-pinterest"></a></li>

                    <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                    <li><a routerLink="/admin" class="social-icon-link bi bi-gear"></a></li>
                </ul>
            </div>

        </div>
    </div>
</header>